<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">About
            <small>It's Nice to Meet You!</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="../index.html">Inicio</a>
            </li>
            <li class="active">About</li>
        </ol>
    </div>

</div>

<div class="row">

    <div class="col-md-6">
        <img class="img-responsive" src="//placehold.it/750x450">
    </div>
    <div class="col-md-6">
        <h2>Bienvenido al proyecto CREM</h2>

        <p>El Centro de Recursos para la Enseñanza de la Matemática (CREM),
        es una iniciativa académica de la Escuela de Matemática del Instituto Tecnológico de Costa Rica,
        que surge con el fin de crear una comunidad de docentes de matemática en donde puedan compartir,
        descargar y utilizar diversos recursos didácticos para mejorar y facilitar su labor docente.</p>

        <p>Para lograr esta iniciativa nos hemos unido con el Centro de Recursos Virtuales del ITCR y con el Instituto Geogebra,
        con el fin de brindar un mejor servicio y asegurar una buena calidad de los materiales que acá se encuentran.
        Vale destacar que esta primera etapa se centrará en abastecer a 
        la comunidad matemática de materiales para ser utilizados en lecciones de secundaria, 
        pero esperamos poder expandirnos a primaria y universidad en el mediano plazo.</p>

        <p>Lo invitamos a que visite y comparta con sus compañeros docentes este nuevo portal educativo, 
        así mismo que presente materiales propios para ser publicados y compartidos en nuestro sitio.</P>
        
        <br>
        
        <p>Atentamente</p>

        <p>Rebeca Solís Ortega y Salvador Marquez Gonzalez, coordinadores.</p>

    </div>

</div>

<!-- Team Member Profiles -->

<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">Nuestro Equipo</h2>
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="//placehold.it/750x450">

        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Facebook"><i
                    class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                        data-placement="top" title="LinkedIn"><i
                    class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                       data-placement="top" title="Twitter"><i
                    class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Google+"><i
                    class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="//placehold.it/750x450">

        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Facebook"><i
                    class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                        data-placement="top" title="LinkedIn"><i
                    class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                       data-placement="top" title="Twitter"><i
                    class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Google+"><i
                    class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="//placehold.it/750x450">

        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Facebook"><i
                    class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                        data-placement="top" title="LinkedIn"><i
                    class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                       data-placement="top" title="Twitter"><i
                    class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Google+"><i
                    class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="//placehold.it/750x450">

        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Facebook"><i
                    class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                        data-placement="top" title="LinkedIn"><i
                    class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                       data-placement="top" title="Twitter"><i
                    class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Google+"><i
                    class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="//placehold.it/750x450">

        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Facebook"><i
                    class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                        data-placement="top" title="LinkedIn"><i
                    class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                       data-placement="top" title="Twitter"><i
                    class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Google+"><i
                    class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="//placehold.it/750x450">

        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Facebook"><i
                    class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                        data-placement="top" title="LinkedIn"><i
                    class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                       data-placement="top" title="Twitter"><i
                    class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Google+"><i
                    class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>

</div>

<!-- Our Customers -->

<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">Our Customers</h2>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="//placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="//placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="//placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="//placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="//placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="//placehold.it/500x300">
    </div>

</div>
