<div class="row">

	<div class="col-lg-12">
		<h1 class="page-header">Contacto
            <small>We'd Love to Hear From You!</small>
        </h1>
		<ol class="breadcrumb">
			<li><a href="../index.html">Inicio</a></li>
			<li class="active">Contacto</li>
		</ol>
	</div>

	<div class="col-lg-12">
		<div class="card">
			<!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15723.828411831626!2d-83.9095726!3d9.8539661!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x113f04205aacd4c9!2sTecnol%C3%B3gico+de+Costa+Rica!5e0!3m2!1ses!2s!4v1459973941921" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

		</div>
	</div>

</div>
<!-- /.row -->

<div class="row">

	<div class="col-sm-7 col-md-7">
		<div class="card">
			<div class="card__header card__header--padding1 bg-blue-grey-600">
				<h2 class="card__title white">Form example</h2>
				<h2 class="card__subtitle blue-grey-200">In ultimum quam quam</h2>
			</div>
			<div class="card__content card__content--padding1">
				<form>
					<div class="form-group">
						<div class="input-wrapper"><input type="text" placeholder="Nombre" class="form-control"></div>
					</div>
					<div class="form-group">
						<div class="input-wrapper"><input type="text" placeholder="Correo" class="form-control"></div>
					</div>
					<div class="form-group">
						<div class="input-wrapper"><textarea placeholder="Mensaje" rows="4" class="form-control"></textarea></div>
					</div>
					<div class="spacer--xs"></div>
					<a href="#" class="btn btn-sm bg-indigo-300 btn-block white">Enviar</a>
				</form>
			</div>
		</div>
	</div>

	<div class="col-sm-5">
		<div class="card">
			<div class="card">
				<div class="card__header">
					<h2 class="card__title">Comuniquese con nosotros</h2>
					<h3 class="card__subtitle">Números de contacto</h3>
				</div>
				<div class="card__content card__content--padding1">
					<p>
						5555 44th Street N.<br> Bootstrapville, CA 32323<br>
					</p>

					<p><i class="fa fa-user"></i> <abbr title="Nombre">N</abbr>: Rebeca Solís Ortega <small>coordinadora</small>.</p>
					<p><i class="fa fa-phone"></i> <abbr title="Telefono">T</abbr>: (555) 984-3600</p>
					<p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:rsolis@itcr.ac.cr">rsolis@itcr.ac.cr</a></p>
					<hr/>
					<!--<p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>-->
					<div class="text-center">
						<ul class="list-unstyled list-inline list-social-icons">
							<li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                    class="fa fa-facebook-square fa-2x"></i></a></li>
							<li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                    class="fa fa-linkedin-square fa-2x"></i></a></li>
							<li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                    class="fa fa-twitter-square fa-2x"></i></a></li>
							<li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip" data-placement="top" title="Google+"><i
                    class="fa fa-google-plus-square fa-2x"></i></a></li>
						</ul>
					</div>
				</div>
			</div>


		</div>
	</div>

</div>
<!-- /.row -->
