<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">NIVELES
            <small>lista de niveles</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="../index.html">Inicio</a>
            </li>
            <li class="active">Niveles</li>
        </ol>
    </div>

</div>

<!-- Team Member Profiles -->
<div class="section card">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="nivel in niveles">
                <a href="#niveles/{{nivel.idNivel}}/temas">
                    <img class="img-responsive img-inicio-portfolio" src="https://loremflickr.com/700/450/{{nivel.nombre}}" alt="{{nivel.nombre}}">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /.section -->
