<nav id="main-header" class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding: 0 20px;" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">
            	<img src="img/tec-logo1024.png">
            	<img src="img/logo-emac.png" style="
				    margin-left: 5px;
				">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="main-header-navbar">

            <ul class="nav navbar-nav navbar-right" role="tablist">
                
                <li><a href="#about">About</a>
                </li>
				<li><a href="#calendario">Calendario</a>
                </li>
                <li><a href="#faq">FAQ</a>
                </li>
                <li><a href="#contact">Contacto</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Recursos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#services">Services</a>
		                </li>
		                <li><a href="#pricing">Pricing Table</a>
		                </li>
		                <li class="dropdown-sub">
		                    <a class="dropdown-toggle" data-toggle="dropdown-sub">Blog <b class="caret"></b></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="#blog">List of Posts</a>
		                        </li>
		                        <li><a href="#blog/post">View One Post</a>
		                        </li>
		                    </ul>
		                </li>
                    </ul>
                </li>
                
                <li ng-show="isLoggedIn" class="dropdown user_logged animate-show">
                	<div class="spacer"></div>
                    <a class="dropdown-toggle" data-toggle="dropdown"><img src="{{user.picture.url}}"> {{user.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#user/publicar">Publicar</a></li>
                        <li><a href="#user/publicar">Ver Perfil</a></li>
                        <li class="infobox__footer indigo-300 white text-center">
                        	<div class="btn btn-primary" ng-click="logout()">
								Cerrar Sesión
							</div>
                        </li>
                    </ul>
                </li>
                <li ng-show="!isLoggedIn" class="dropdown animate-show">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="$event.preventDefault()"><b>Iniciar Sesión</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							<div class="row">
								<div class="col-md-12">
									
									<div class="social-buttons text-center">
										Conectarse con 
										<div class="btn btn-fb" ng-click="login()">
											Facebook
										</div>
										<!--<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>-->
									</div>
								</div>
								<div class="col-md-12 center">
									<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											<label class="sr-only" for="exampleInputEmail2">Correo Electrónico</label>
											<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Correo Electrónico" required>
										</div>
										<div class="form-group">
											<label class="sr-only" for="exampleInputPassword2">Contraseña</label>
											<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Contraseña" required>
											<div class="help-block text-right"><a href="">¿Olvidaste la clave?</a></div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox"> Mantener la sesión iniciada
											</label>
										</div>
									</form>
								</div>
								<div class="bottom text-center">
									¿Nuevo acá? <a href="#registro"><b>Registrate</b></a>
								</div>
							</div>
						</li>
					</ul>
				</li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <div id="loading-bar-container"></div>
</nav>
