<!-- Menu toggle for mobile version -->

<!-- Menu -->
<nav id="ml-menu" class="menu hidden-print">
	<div class="menu__wrap" ng-controller="SidebarCtrl">

		<!-- menu de niveles -->
		<ul data-menu="main" class="menu__level">
			<li class="menu__item">
				<a class="menu__link fade" data-submenu="submenu-recursos">
					Recursos Didacticos
				</a>
			</li>
			<li class="menu__item">
				<a class="menu__link fade" data-submenu="submenu-geogebra">
					Geogebra
				</a>
			</li>
		</ul>

		<ul data-menu="submenu-recursos" class="menu__level">
			<li ng-repeat="nivel in niveles" class="menu__item">
				<a class="menu__link fade" data-submenu="submenu-tema-{{nivel.level_id}}">
					{{nivel.name}}
				</a>
			</li>
		</ul>

		<ul data-menu="submenu-geogebra" class="menu__level">
			<li ng-repeat="nivel in niveles" class="menu__item">
				<a class="menu__link fade" data-submenu="submenu-tema-{{nivel.level_id}}" href="#niveles/{{nivel.level_id}}">
					{{nivel.name}}
				</a>
			</li>
		</ul>

		<!-- Submenu de recursos -->

		<ul ng-repeat="nivel in niveles" data-menu="submenu-tema-{{nivel.level_id}}" class="menu__level" on-finish-render="ngRepeatFinished">
			<li ng-repeat="tema in nivel.topics" class="menu__item fade"><a class="menu__link" href="#niveles/{{nivel.level_id}}/temas/{{tema.topic_id}}">{{tema.name}}</a></li>
		</ul>

	</div>
</nav>

<script>
	jQuery(document).ready(function($) {

		// mobile menu toggle
		$('.action--open').click(function() {
			$(this).addClass("menu--open");
		});

		$('.action--close').click(function() {
			$(this).removeClass('menu--open');
		});

	});

</script>
