<!-- Menu toggle for mobile version -->

	<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
	<!-- Menu -->
	<nav id="ml-menu" class="menu hidden-print">
		<!-- Close button for mobile version -->
		<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
		
		<div class="menu__wrap" ng-controller="SidebarCtrl">
			
			<!-- menu de niveles -->
			<ul data-menu="main" class="menu__level">
				<li ng-repeat="nivel in niveles" class="menu__item">
					<a class="menu__link fade" data-submenu="submenu-tema-{{nivel.idNivel}}" href="#niveles/{{nivel.idNivel}}" >
						{{nivel.nombre}}
					</a>
				</li>
			</ul>

			<!-- Submenu de temas -->
			<ul ng-repeat="nivel in niveles" data-menu="submenu-tema-{{nivel.idNivel}}" class="menu__level" on-finish-render="ngRepeatFinished">
				<li ng-repeat="tema in nivel.temas" class="menu__item fade"><a class="menu__link" href="#niveles/{{nivel.idNivel}}/temas/{{tema.idTema}}">{{tema.nombre}}</a></li>
			</ul>
			
		</div>
	</nav>

			<!--<ul class="panel panel-default">-->
                
   <!--             <div class="panel-heading">-->
   <!--                 <h4 class="panel-title">-->
   <!--                     <a data-toggle="collapse" data-parent="#accordion" href="#niveles/octavo" data-target="#octavo">Octavo</a>-->
   <!--                 </h4>-->
   <!--             </div>-->
    
   <!--             <div id="octavo" class="panel-collapse collapse">-->
   <!--                 <ul class="list-group">-->
   <!--                     <li class="list-group-item"><a href="#">Números</a></li>-->
   <!--                     <li class="list-group-item"><a href="#">Geometría</a></li>-->
   <!--                     <li class="list-group-item"><a href="#">Relaciones y Álgebra</a></li>-->
   <!--                     <li class="list-group-item"><a href="#">Estadística y Probabilidad</a></li>-->
   <!--                 </ul>-->
   <!--             </div>-->
    
   <!--         </ul>-->
    
   <!--         <ul class="panel panel-default">-->
    
   <!--             <div class="panel-heading">-->
   <!--                 <h4 class="panel-title">-->
   <!--                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Noveno</a>-->
   <!--                 </h4>-->
   <!--             </div>-->
    
   <!--             <div id="collapseThree" class="panel-collapse collapse">-->
   <!--                 <ul class="list-group">-->
   <!--                     <li class="list-group-item"><a href="#">Números</a></li>-->
   <!--                     <li class="list-group-item"><a href="#">Geometría</a></li>-->
   <!--                     <li class="list-group-item"><a href="#">Relaciones y Álgebra</a></li>-->
   <!--                     <li class="list-group-item"><a href="#">Estadística y Probabilidad</a></li>-->
   <!--                 </ul>-->
   <!--             </div>-->
    
   <!--         </ul>-->
	
	
<script>
	jQuery(document).ready(function($){

		// mobile menu toggle
		$('.action--open').click(function(){
			$(this).addClass("menu--open");
		});
		
		$('.action--close').click(function(){
			$(this).removeClass('menu--open');
		});

	});
</script> 