


<!--  Números-->
<!--  Geometría-->
<!--  Relaciones y Álgebra-->
<!-- Estadística y Probabilidad-->

<!--Números-->
<!--Geometría-->
<!--Relaciones y Álgebra        -->
<!--Estadística y Probabilidad-->

<!--Geometría-->
<!--Relaciones y Álgebra-->
<!--Estadística y Probabilidad    -->

<!--Geometría    -->
<!--Relaciones y Álgebra-->
<!--Estadística y Probabilidad-->
<ul class="sidebar-nav hidden-print">
    <li class="sidebar-brand">
        <a href="#" class="text-center">
            TEMAS
        </a>
    </li>
    <li>
        <nav class="hidden-print">
            <div class="well">
                
                <h4>Blog Search</h4>
        
        <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
                <!--<div class="input-group">-->
                <!--    <input type="text" class="form-control">-->
                <!--    <span class="input-group-btn">-->
                        <!--<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></i>-->
                        <!--</button>-->
                <!--         <button class="btn btn-default" type="button">Go!</button>-->

                <!--    </span>-->
                <!--</div>-->
                <!-- /input-group -->
            </div>
            <!-- /well -->
            <!--<div class="well">-->
            <!--    <h4>Categorias Populares</h4>-->
        
            <!--    <div class="row">-->
            <!--        <div class="col-lg-6">-->
            <!--            <ul class="list-unstyled">-->
            <!--                <li><a href="#dinosaurs">Números</a>-->
            <!--                </li>-->
            <!--                <li><a href="#spaceships">Geometría</a>-->
            <!--                </li>-->
            <!--            </ul>-->
            <!--        </div>-->
            <!--        <div class="col-lg-6">-->
            <!--            <ul class="list-unstyled">-->
            <!--                <li><a href="#alien-abductions">Álgebra</a>-->
            <!--                </li>-->
            <!--                <li><a href="#business-casual">Trigonometría</a>-->
            <!--                </li>-->
            <!--            </ul>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <!-- /well -->
        </nav>
    </li>
    <li>

        <div id="accordion" class="panel-group">
    
            <div class="panel panel-default">
    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#niveles/setimo" data-target="#setimo">Sétimo</a>
                    </h4>
                </div>
    
                <div id="setimo" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#setimo/numeros">Números</a></li>
                        <li class="list-group-item"><a href="#">Geometría</a></li>
                        <li class="list-group-item"><a href="#">Relaciones y Álgebra</a></li>
                        <li class="list-group-item"><a href="#">Estadística y Probabilidad</a></li>
                    </ul>
                </div>
    
            </div>
    
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#niveles/octavo" data-target="#octavo">Octavo</a>
                    </h4>
                </div>
    
                <div id="octavo" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Números</a></li>
                        <li class="list-group-item"><a href="#">Geometría</a></li>
                        <li class="list-group-item"><a href="#">Relaciones y Álgebra</a></li>
                        <li class="list-group-item"><a href="#">Estadística y Probabilidad</a></li>
                    </ul>
                </div>
    
            </div>
    
            <div class="panel panel-default">
    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Noveno</a>
                    </h4>
                </div>
    
                <div id="collapseThree" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Números</a></li>
                        <li class="list-group-item"><a href="#">Geometría</a></li>
                        <li class="list-group-item"><a href="#">Relaciones y Álgebra</a></li>
                        <li class="list-group-item"><a href="#">Estadística y Probabilidad</a></li>
                    </ul>
                </div>
    
            </div>
    
            <div class="panel panel-default">
    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Décimo</a>
                    </h4>
                </div>
    
                <div id="collapseThree" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Geometría</a></li>
                        <li class="list-group-item"><a href="#">Relaciones y Álgebra</a></li>
                        <li class="list-group-item"><a href="#">Estadística y Probabilidad</a></li>
                    </ul>
                </div>
    
            </div>
    
            <div class="panel panel-default">
    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Undécimo</a>
                    </h4>
                </div>
    
                <div id="collapseThree" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Geometría</a></li>
                        <li class="list-group-item"><a href="#">Relaciones y Álgebra</a></li>
                        <li class="list-group-item"><a href="#">Estadística y Probabilidad</a></li>
                    </ul>
                </div>
    
            </div>
    
        </div>

    </li>
</ul>
